on:
  push:
    branches:
      - master
  pull_request: null

name: Compile and test
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.21.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout
        uses: actions/checkout@v4
      - name: Go mod download
        run: go mod download
      - name: Compile
        run: |
          CGO_ENABLED=0 go build -o /tmp/godplugin github.com/netdata/go.d.plugin/cmd/godplugin/
          /tmp/godplugin --help || true
      - name: Enforce formatted code
        run: "! go fmt ./... 2>&1 | read -r"
      - name: Go vet
        run: go vet ./...
      - name: Set up gotestfmt
        uses: GoTestTools/gotestfmt-action@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: v2.0.0
      - name: Go test
        run: |
          set -euo pipefail
          go test -json ./... -race -count=1 2>&1 | gotestfmt -hide all
